{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand {% if request.path == '/' %}active{% endif %}" href="{% url 'pages:index' %}">
            <wa-icon name="image"></wa-icon></i>PIPKuk
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item mr-3 {% if request.path == '/listings/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'listings:index' %}">Market</a>
                </li>
                <li class="nav-item mr-3 {% if request.path == '/listings/cards/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'listings:card_listings' %}">Card</a>
                </li>
                <li class="nav-item mr-3 {% if '/shops/' in request.path %}active{% endif %}">
                    <a class="nav-link" href="{% url 'shops:shop_list' %}">Search shops</a>
                </li>
            </ul>

            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-3 {% if request.path == '/accounts/dashboard/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'accounts:dashboard' %}">
                        {% if unread_count %}
                        <span class="badge badge-warning">{{ unread_count }}</span>
                        {% endif %}
                        <i class="fas "></i> Welcome {{ user.username }}
                    </a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">
                        <i class="fas fa-sign-in-alt"></i> Logout
                    </a>
                    <form action="{% url 'accounts:logout' %}" method="POST" id="logout">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-3 {% if request.path == '/accounts/register/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'accounts:register' %}">
                        <i class="fas fa-user-plus"></i> Register
                    </a>
                </li>
                <li class="nav-item mr-3 {% if request.path == '/accounts/login/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'accounts:login' %}">
                        <i class="fas fa-sign-in"></i> Login
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container">
    <nav aria-label="breadcrumb" class="mt-2">
        <ol class="breadcrumb mb-0">
            {% block breadcrumb %}
            {% if request.path == '/' %}
                <li class="breadcrumb-item active">Home</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">Home</a></li>

                {% if request.path == '/listings/' %}
                    <li class="breadcrumb-item active">Market</li>
                {% elif request.path == '/listings/cards/' %}
                    <li class="breadcrumb-item active">Cards</li>
                {% elif '/listings/cards/' in request.path %}
                    <li class="breadcrumb-item"><a href="{% url 'listings:card_listings' %}">Cards</a></li>
                    <li class="breadcrumb-item active">Card</li>
                {% elif request.path == '/listings/my/' %}
                    <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Post</li>
                {% elif request.path == '/accounts/dashboard/' %}
                    <li class="breadcrumb-item active">Dashboard</li>
                {% elif request.path == '/accounts/profile/' %}
                    <li class="breadcrumb-item active">Profile</li>
                {% elif request.path == '/accounts/register/' %}
                    <li class="breadcrumb-item active">Register</li>
                {% elif request.path == '/accounts/login/' %}
                    <li class="breadcrumb-item active">Login</li>
                {% elif request.path == '/shops/search_shops/' %}
                    <li class="breadcrumb-item active">Search shops</li>
                {% elif request.path == '/shops/shop_list/' %}
                    <li class="breadcrumb-item active">Shops</li>
                {% elif '/shops/shop/' in request.path %}
                    <li class="breadcrumb-item"><a href="{% url 'shops:shop_list' %}">Shops</a></li>
                    <li class="breadcrumb-item active">Shop</li>
                {% elif '/listings/' in request.path %}
                    <li class="breadcrumb-item"><a href="{% url 'listings:index' %}">Market</a></li>
                    <li class="breadcrumb-item active">Product</li>
                {% elif '/contacts/chat/' in request.path %}
                    <li class="breadcrumb-item"><a href="{% url 'listings:index' %}">Market</a></li>
                    <li class="breadcrumb-item active">Chat</li>
                {% else %}
                    <li class="breadcrumb-item active">Home</li>
                {% endif %}
            {% endif %}
            {% endblock %}
        </ol>
    </nav>
</div>
