{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  

    <h2>Welcome {{ user.username }}</h2>


    <div class="row mt-4">
        <div class="col-12">
            <a href="#"
              class="btn btn-outline-secondary d-inline-flex align-items-center justify-content-center me-2 mb-2"
              style="width:120px;height:120px;">
                Message
            </a>

            

            <a href="#"
              class="btn btn-secondary d-inline-flex align-items-center justify-content-center me-2 mb-2"
              style="width:120px;height:120px;">
                Deck
            </a>

            <a href="#"
              class="btn btn-secondary d-inline-flex align-items-center justify-content-center me-2 mb-2"
              style="width:120px;height:120px;">
                Post
            </a>


            <a href="#"
              class="btn btn-secondary d-inline-flex align-items-center justify-content-center me-2 mb-2"
              style="width:120px;height:120px;">
                Trade
            </a>
            
          <a href="/accounts/profile/"
          class="btn btn-secondary d-inline-flex align-items-center justify-content-center me-2 mb-2"
          style="width:120px;height:120px;">
            Profile
          </a>

        </div>
    </div>
</div>
{% endblock %}

    </div>
  </div>
</div>