{% extends "base.html" %}
{% load static %}
{% block content %} 

<!--slider-->
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-wrap="true">
        {% comment %} data-interval="5000" {% endcomment %}
    <ol class="carousel-indicators">
        {% for img in banner_images %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0}}"
        {%if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for img in banner_images %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img class="d-block w-100 carousel-custom-img" src="{% static img %}" alt="Slide {{ forloop.counter }}">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        {% endfor %}
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
</div>
</div>

<!--card-->

<!-- Listings -->
<section>
    <div class="container">
        <h3 class="text-center m-5">Featured</h3>
        <hr/>
        <div class="row">
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img src={% static "image/sm_banner_01.jpg" %} class="card-img-top" alt="card"/>
                    
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">New</h4>

                        </div>
                    <a href="listing.html" class="btn btn-primary btn-block mt-3">View Details</a>
                    </div>
                </div>
            </div>
            <!-- Listing 2 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img src={% static "image/sm_banner_02.png" %} class="card-img-top" alt="card"/>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">Top Hits</h4>
                        </div>
                        <a href="listing.html" class="btn btn-primary btn-block mt-3">View Details</a>
                    </div>
                </div>
            </div>
            <!-- Listing 3 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img src={% static "image/sm_banner_03.png" %} class="card-img-top" alt="card"/>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                        <h4 class="text-primary">Price</h4>
                        </div>
                    <a href="listing.html" class="btn btn-primary btn-block mt-3">View Details</a>
                    </div>
                </div>
            </div>
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
                <img src={% static "image/sm_banner_04.jpg" %} class="card-img-top" alt="card"/>
                
                <div class="card-body">
                    <div class="listing-heading text-center">
                <h4 class="text-primary">New</h4>

                </div>
                <a href="listing.html" class="btn btn-primary btn-block mt-3">View Details</a>
                </div>
            </div>
            </div>
            <!-- Listing 2 -->
            <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card listing-preview">
                    <img src={% static "image/sm_banner_05.png" %} class="card-img-top" alt="card"/>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                        <h4 class="text-primary">Top Hits</h4>
                        </div>

                        <a href="listing.html" class="btn btn-primary btn-block mt-3">View Details</a>
                    </div>
                </div>
            </div>
            <!-- Listing 3 -->
            <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card listing-preview">
                    <img src={% static "image/sm_banner_06.jpg" %} class="card-img-top" alt="card"/>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                        <h4 class="text-primary">Price</h4>
                        </div>
                        <a href="listing.html" class="btn btn-primary btn-block mt-3">View Details</a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>

{% endblock %}







