{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Listings -->
<section>
    <div class="container">
        <h3 class="text-center m-5">Featured</h3>
        <hr/>
        <!-- [search bar, filter button], sort button  -->
        <div class="row mb-3">
            <div class="col-lg-8 col-md-6">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="keyword" />
            </div>

            <div class="col-lg-4 col-md-3 dropdown text-right">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort</button>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Action</a>
                    <a href="#" class="dropdown-item">another</a>
                    <a href="#" class="dropdown-item">and another</a>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <button class="btn btn-primary btn-block">filter</button>
        </div>
        <div class="container"></div>
        <div class="row">
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
                <img src="https://picsum.photos/60/50" class="card-img-top" alt="card"/>
                
                <div class="card-body">
                    <div class="listing-heading text-center">
                <h4 class="text-primary">New</h4>
                </div>
                <a href="listing.html" class="btn btn-primary btn-block mt-3">View Details</a>
                </div>
            </div>
            </div>
            
            <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
                <div class="card-body">
                <a href="#"><img src="https://picsum.photos/60/50" alt=""></a>
                <h5 class="card-title">hello</h5>
                <h6 class="card-subtitle">hello</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">attribute 1</li>
                    <li class="list-group-item">attribute 2</li>
                    <li class="list-group-item">attribute 3</li>
                    <li class="list-group-item">attribute 4</li>
                    <li class="list-group-item">attribute 5</li>
                </ul>
                </div>
            </div>
            </div>
            
            <!-- <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div> -->
            
            <!-- Listing 2 -->
            <!-- <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card listing-preview">
                    <img src="https://picsum.photos/60/50" class="card-img-top" alt="card"/>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                        <h4 class="text-primary">Top Hits</h4>
                        </div>

                        <a href="listing.html" class="btn btn-primary btn-block mt-3">View Details</a>
                    </div>
                </div>
            </div> -->
            <!-- Listing 3 -->
            <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card listing-preview">
                    <img src="https://picsum.photos/60/50" class="card-img-top" alt="card"/>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                        <h4 class="text-primary">Price</h4>
                        </div>
                        <a href="listing.html" class="btn btn-primary btn-block mt-3">View Details</a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="container">

        <div class="row">
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
                <img src="https://picsum.photos/60/50" class="card-img-top" alt="card"/>
                
                <div class="card-body">
                    <div class="listing-heading text-center">
                <h4 class="text-primary">New</h4>

                </div>
                <a href="listing.html" class="btn btn-primary btn-block mt-3">View Details</a>
                </div>
            </div>
            </div>
            
            <!-- Listing 2 -->
            <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card listing-preview">
                    <img src="https://picsum.photos/60/50" class="card-img-top" alt="card"/>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                        <h4 class="text-primary">Top Hits</h4>
                        </div>

                        <a href="listing.html" class="btn btn-primary btn-block mt-3">View Details</a>
                    </div>
                </div>
            </div>
            <!-- Listing 3 -->
            <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card listing-preview">
                    <img src="https://picsum.photos/60/50" class="card-img-top" alt="card"/>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                        <h4 class="text-primary">Price</h4>
                        </div>
                        <a href="listing.html" class="btn btn-primary btn-block mt-3">View Details</a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>

{% endblock %}

