#header{
    height: 100px;
    background: #3c80e7;
    color: white;
    font-size: 80px;
}

#branding h1{
    color: white;
}

a:link,a:visited{
    color: #4664c9;
}

div.breakcrumbs{
    background:#5eec59;
    color:white;
}

.module h2,.module caption,.inline-group h2{
    background: #8292dd;
}

.button,input[type=submit],input[type=button],.submit-row input,a.button{
    background: #bba2a1;
    color: white;
}

.brand{
    margin:15px;
}

:root {
		--font-size-base: 100px;
		--font-size-body: 40px;
		--font-size-small: 20px;
}