{% extends "base.html" %}
{% load static %}
{% block content %} 

<section id="shop"></section>
<div class="shop-page-wrapper">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col-12 col-xl-8 my-5">
                    <div class="row">
                    <div class="col-sm-6 col-md-5 col-lg-3">
                        <img src={{slist.shop_logo.url}} alt="" class="card-img-top">
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-6">
                        <h3 class="mt-2">{{slist.shopname}}</h3>
                        <h6 class="text-black"><i class="fas fa-map-marker-alt" style="color:blue"></i> {{slist.address}}</h6>
                        {% if slist.website %}
                        <span>Website: </span>
                        <a href="{{ slist.website }}" target="_blank">{{slist.website}}</a>
                        {% endif %}
                        {% if slist.phone_number %}
                        <h6>Phone: {{slist.phone_number}}</h6>
                        {% endif %}
                        {% if slist.monday %}
                        <h6>{{shop_list.time.mon}}</h6>
                        {% endif %}
                        {% if slist.tuesday %}
                        <h6>{{shop_list.time.tue}}</h6>
                        {% endif %}
                        {% if slist.wednesday %}
                        <h6>{{shop_list.time.wed}}</h6>
                        {% endif %}
                        {% if slist.thursday %}
                        <h6>{{shop_list.time.thur}}</h6>
                        {% endif %}
                        {% if slist.friday %}
                        <h6>{{shop_list.time.fri}}</h6>
                        {% endif %}
                        {% if slist.saturday %}
                        <h6>{{shop_list.time.sat}}</h6>
                        {% endif %}
                        {% if slist.sunday %}
                        <h6>{{shop_list.time.sun}}</h6>
                        {% endif %}
                        {% if slist.card_identification %}
                        <h6>{{slist.card_identification}}</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 d-none d-xl-block my-5" style="box-sizing:border-box">
                <div style="width: 450px; height: 450px;">
                    <iframe 
                        width="90%" 
                        height="90%" 
                        frameborder="0" 
                        scrolling="no" 
                        marginheight="0" 
                        marginwidth="0" 
                        src="https://maps.google.com/maps?q={{ slist.latitude }},{{ slist.longitude}}&amp;output=embed&z=18">

                    </iframe>

                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
