{% extends "base.html" %}
{% load static %}
{% block content %} 

<section>
    <div class="container">
        <br/>
        <div class="row">
            <div class col-1>
                <img src="https://picsum.photos/id/12/200/200" alt="" class="card-img-top">
                <!-- <img src={{shop_lists.logo}} alt="" class="card-img-top">
                -->
            </div>
        </div>
        <div class="row">
            <div>
                <h3>shop_name</h3>
            <!-- shop_address -->
                <h6 class="text-black"><i class="fas fa-map-marker-alt" style="color:blue"></i> shop_address</h6>
            <a href="{{shop_lists.webpage}}" target="_blank">{{shop_lists.webpage}}</a>
            <h6>phone number: {{shop_list.phone_number}}</h6>
            <h6>Time:</h6>
            <h6>Mon :{{shop_list.time.mon}}</h6>
            <h6>Tue :{{shop_list.time.tue}}</h6>
            <h6>Wed :{{shop_list.time.wed}}</h6>
            <h6>Thur:{{shop_list.time.thur}}</h6>
            <h6>Fri :{{shop_list.time.fri}}</h6>
            <h6>Sat :{{shop_list.time.sat}}</h6>
            <h6>Sun :{{shop_list.time.sun}}</h6>
            <h6>Card Identification:{{shop_lists.identification}}</h6>
            </div>
        </div>
        <br/>
    </div>
</section>

{% endblock %}